<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custome")

</head>
<body>
    <header>
        <main>
            <div class="search-container">
                <div class="search-bar">
                    <div class="close-search">
                        <div class="span1"></div>
                        <div class="span2"></div>
                    </div>
                    <input type="text" name="" id="" placeholder="Search...">
                    <a href="">
                        <img src="~/Icons/search.svg" alt="" srcset="">
                    </a>
                </div>
                <br />
                <div id="search-result">

                </div>
            </div>
            <nav>
                <div class="logo">
                    <i class="fa fa-code" aria-hidden="true"></i>
                </div>
                <ul>
                    <li><a href="/Product">Home</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Pages</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <div class="activity">
                    <button href="" class="activity-item" onclick="" id="search-btn">
                        <img src="~/Icons/iconfinder_-_Magnifier-Search-Zoom-_3844467.svg" alt="" srcset="">
                    </button>
                    <div class="dropdown activity-item">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <img src="~/Icons/profile.svg" alt="" srcset="">
                        </button>
                        <ul class="dropdown-menu">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                    <a href="" class="activity-item">
                        <img src="~/Icons/shopping.svg" alt="" srcset="">
                    </a>
                </div>
            </nav>
            <div class="split-section">
                @RenderBody()
            </div>

            <div class="loading">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </main>
    </header>
    <footer>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @Scripts.Render("~/bundles/custome")
    @RenderSection("scripts", required: false)
    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>

</body>
</html>
