@model IEnumerable<E_CommerceAssignment.Models.BrandModels>

@{
    ViewBag.Title = "Brands";
}
    <div class="container" style="display: block;">
        <h2>Brands</h2>

        <p>
            @Html.ActionLink("Create New", "AddBrand", null, new { @class = "btn btn-default" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrandDetails)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteBrand", "Product", new { id = item.BrandId }, FormMethod.Post))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandDetails)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditBrand", new { id = item.BrandId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", new { id = item.BrandId }, new { @class = "btn btn-default" })

                            <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('@item.Brand brand may contain many products! Are you sure you want to delete this model?')" />

                        </td>
                    </tr>

                }
            }

        </table>
    </div>

