@model E_CommerceAssignment.ViewModels.EditPhotoViewModel

@{
    ViewBag.Title = "EditPhoto";
    
}

<div class="container">
    @using (Html.BeginForm("EditPhoto", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ProductPhoto</h4>
            @Html.HiddenFor(m => m.ProductId)
            @Html.EditorFor(m => m.Model)
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @foreach (var photo in Model.Photos)
                {
                    
                    <div class="img-thumbnail">
                        <img src="@photo.Path/@photo.Title" alt="@photo.Title" width="300" height="300" />
                    </div>
                }


            <div class="img-thumbnail" style="position: relative;">
                <img src="/Public/No Image/no.image.600x300.png" alt="no image" width="300" height="300" />
                @Html.TextBoxFor(m => m.Photo, new { type = "file", @multiple = "multiple", @class = "form-control inputfile" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

        </div>
    }

</div>

