@model IEnumerable<E_CommerceAssignment.Models.ModelModels>

@{
    ViewBag.Title = "GetModel";
}

    <div class="container" style="display:  block;">
        <h2>Product Model</h2>
        <p>
            @Html.ActionLink("Create New", "AddModel", null, new { @class = "btn btn-default" })

        </p>
    </div>

<div class="container">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("DeleteModel", "Product", new { id = item.Id }, FormMethod.Post))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditModel", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Products", new { id = item.Id }, new { @class = "btn btn-default" })
                        @*@Html.ActionLink("Add Product", "AddProduct", new { id = item.Id }, new { @class = "btn btn-primary" })*@
                        <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('@item.Name model may contain many products! Are you sure you want to delete this model?')" />

                    </td>
                </tr>
            }


        }

    </table>
</div>

