@model E_CommerceAssignment.ViewModels.ListProductViewModel

@{
    ViewBag.Title = "Index";
}

<div class="slider">
    <div class="sub-content">
        <h1>Shop sidebar</h1>
        <br>
        <p>Home / Shop Sidebar</p>
    </div>
</div>
<div class="content">
    <div class="side-bar">
        <div class="filter-menu">
            <h3>Filter by price</h3>
            <div class="price-slider">
                <!-- Range slider -->
                <div id="pmd-slider-value-range" class="pmd-range-slider" min="0" max="9999"></div>
                <!-- Price input -->
                <div class="rangePrice">
                    <p>Price:</p>
                    &nbsp;&nbsp;
                    <label for="min" id="value-min"></label>
                    <div class="span"></div>
                    <label for="max" id="value-max"></label>
                </div>
            </div>
            <br />
        </div>
        <div class="side-menu">
            <hr class="style-six" />
            <h3>Product Brand</h3>
            <ul>
                @for (var i = 0; i < Model.Brands.Count; i++)
                {
                    <li>
                        <a href="/Product/GetModel/@Model.Brands[i].BrandId">
                            @Model.Brands[i].Brand
                            <p>@Model.EachProductsOfBrands[i]</p>
                        </a>
                    </li>
                }
            </ul>
            <div class="action-links">
                @Html.ActionLink("Brands", "Brands", "Product", null, new { @class = "action-link-item" })
                @Html.ActionLink("Categories", "Categories", "Product", null, new { @class = "action-link-item" })
            </div>

            <hr class="style-six">
        </div>
    </div>
    <div class="product-list">
        <div class="product-list-header">
            <h3>All products</h3>
            <div class="product-list-result">
                <div class="product-sort">
                    <p>Sort by date</p>
                    <div class="dropdown"></div>
                </div>
                <p>Showing result 1 - 15 of 25 results</p>
            </div>
        </div>

        <div class="product-list-items">
            @foreach (var item in Model.Products)
            {
                <a href="/Product/EditProduct/@item.Id" class="item">
                    <div id="slider">
                        @foreach (var photo in item.Photos)
                        {
                            <div class="item-img">
                                <img src="@photo.Path/@photo.Title" alt="@photo.Title" />
                            </div>
                        }
                    </div>


                    <div class="item-detail">
                        <h5>@item.Name</h5>
                        <h5>@item.Storage</h5>
                        <div class="price">
                            <p>$@item.Price</p>
                            <p>$1799</p>
                        </div>

                    </div>
                </a>
            }


        </div>
        <div class="action-btn">
            <div class="prev">
                <img src="~/Icons/iconfinder_right_1303890.svg" alt="" srcset="">
            </div>
            <div class="pages">
                <div class="page-number">
                    <a href="" class="active">1</a>
                </div>
                <div class="page-number">
                    <a href="">2</a>
                </div>
            </div>
            <div class="next">
                <img src="~/Icons/iconfinder_right_1303890.svg" alt="" srcset="">
            </div>
        </div>
    </div>
</div>










