@model E_CommerceAssignment.ViewModels.ListProductViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddBrand")
</p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                @for (var i = 0; i < Model.Brands.Count; i++)
                {
                    <li>
                        @Html.ActionLink(Model.Brands[i].Brand, "GetModel", new { id= Model.Brands[i].BrandId }) has @Model.EachProductsOfBrands[i]
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <div class="form-group">
                    @Html.TextBox("search", null, new { @class = "form-control" }) <input type="submit" value="Search" class="btn btn-default" />
                </div>
            }
            <ul>
                <li>
                    @foreach (var product in Model.Products)
                    {
                        @product.Name

                        foreach (var photo in product.Photos)
                        {
                            <img src='@photo.Path/@photo.Title' width="100" height="100" />
                        }
                    }
                </li>
            </ul>
        </div>
    </div>
</div>



    


