@using PagedList
@using PagedList.Mvc

@model E_CommerceAssignment.ViewModels.ListProductViewModel

@{
    ViewBag.Title = "Index";
}
@section scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#slider').owlCarousel({
                loop: true,
                nav: false,
                autoplay: true,
                dots: false,
                smartSpeed: 1500,
                autoplayTimeout: 5000,
                items:1
            })
        })
    </script>
}
@section head {

    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
}
<div class="loading">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="slider owl-carousel owl-theme" id="slider">
    <div class="items">
        <img src="Public/Sliders/960x0.jpg" />
    </div>
    <div class="items">
        <img src="Public/Sliders/surface-pro-x-1471x800-1570078613.jpg" />
    </div>
    <div class="items">
        <img src="Public/Sliders/71TCixvQotL._AC_SY355_.jpg" />
    </div>
    <div class="items">
        <img src="Public/Sliders/razer.png" />
    </div>
</div>
<div class="content">
    <div class="side-bar">
        <div class="filter-menu">
            <h3>Filter by price</h3>
            <div class="price-slider">
                <!-- Range slider -->
                <div id="pmd-slider-value-range" class="pmd-range-slider" min="0" max="9999"></div>
                <!-- Price input -->
                <div class="rangePrice">
                    <p>Price:</p>
                    &nbsp;&nbsp;
                    <label for="min" id="value-min"></label>
                    <div class="span"></div>
                    <label for="max" id="value-max"></label>
                </div>
            </div>
            <br />
        </div>
        <div class="side-menu">
            <hr class="style-six" />
            <h3>Product Brand</h3>
            <ul>
                @for (var i = 0; i < Model.Brands.Count; i++)
                {
                    <li>
                        <a href="/Product/GetModel/@Model.Brands[i].BrandId">
                            @Model.Brands[i].Brand
                            <p>@Model.EachProductsOfBrands[i]</p>
                        </a>
                    </li>
                }
            </ul>
            <div class="action-links">
                @Html.ActionLink("Brands", "Brands", "Product", null, new { @class = "action-link-item" })
                @Html.ActionLink("Categories", "Categories", "Product", null, new { @class = "action-link-item" })
            </div>

            <hr class="style-six">
        </div>
    </div>
    <div class="product-list">
        <div class="product-list-header">
            <h3>All products</h3>
            <div class="product-list-result">
                <div class="product-sort">
                    <p>Sort by date</p>
                    <div class="dropdown"></div>
                </div>
                <p>Showing result 1 - @Model.Products.Count() of @Model.Products.TotalItemCount</p>
            </div>
        </div>
        <br />
        <hr />
        <div class="product-list-items">
            @foreach (var item in Model.Products)
            {
                <a href="/Product/EditProduct/@item.Id" class="item">
                    <div id="slider">
                        @foreach (var photo in item.Photos)
                        {
                            <div class="item-img">
                                <img src="@photo.Path/@photo.Title" alt="@photo.Title" />
                            </div>
                        }
                    </div>


                    <div class="item-detail">
                        <h5>@item.Name</h5>
                        <h5>@item.Storage</h5>
                        <div class="price">
                            <p>$@item.Price</p>
                            <p>$1799</p>
                        </div>

                    </div>
                </a>
            }


        </div>

        <div class="action-btn">
            @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
        </div>
    </div>
</div>












