@model E_CommerceAssignment.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Products";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<div class="container" style="display: block">
    <h2>@Model.Name</h2>

    <p>
        <button class="btn btn-primary" id="modal">Create New</button>
        @*@Html.ActionLink("Create New", "AddProduct", new { id = ViewBag.ModelId }, new { @class = "btn btn-primary" })*@
    </p>
    <table class="table">
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Storage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Processor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Memory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Color)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { id = product.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = product.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = product.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("AddProducts", "Product", new { id = ViewBag.ModelId })'>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#modal').on('click', function () {
            var url = $('#myModal').data('url');
            $.get(url, function (data) {
                $('#myModal').html(data);
                $('#myModal').modal('show');
            })
        })
    })
</script>