@using PagedList
@using PagedList.Mvc

@model IPagedList<E_CommerceAssignment.ViewModels.GetProductViewModel>
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
    </div>
<div class="container">
    <div class="product-list">
        <div class="product-list-header">
            @if (Model.Count() == 1)
            {
                <h3>@Model.Count() result found</h3>
            }
            else
            {
                <h3>@Model.TotalItemCount products found</h3>
            }
            <div class="product-list-result">
                <div class="product-sort">
                    <p>Sort by date</p>
                    <div class="dropdown"></div>
                </div>
                <p>Showing result 1 - @Model.Count() of @Model.TotalItemCount results</p>
            </div>
        </div>

        <div class="product-list-items">
            @foreach (var item in Model)
            {
                <a href="/Product/EditProduct/@item.Id" class="item">
                    <div id="slider">
                        @foreach (var photo in item.Photos)
                        {
                            <div class="item-img">
                                <img src="@photo.Path/@photo.Title" alt="@photo.Title" />
                            </div>
                        }
                    </div>


                    <div class="item-detail">
                        <h5>@item.Name</h5>
                        <h5>@item.Storage</h5>
                        <div class="price">
                            <p>$@item.Price</p>
                            <p>$1799</p>
                        </div>

                    </div>
                </a>
            }


        </div>
        <div class="action-btn">
            @Html.PagedListPager(Model, page => Url.Action("Search", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })

        </div>
    </div>
</div>

